<html lang='en'>

<head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <title>Two-Factor Authentication</title>

  <style>
    /* .body { background-color: black; padding: 10px; } */
    /* General body
      styles */
    .body {
      margin: 0;
      padding: 10px;
      font-family: Arial, sans-serif;
      background-color: white;
      color: #000000;
    }

    /* Wrapper to
      center content */
    .wrapper {
      background-color: white;
      padding: 15px;
    }

    /*
      Email container */
    .container {
      background-color: transparent;
      margin: 0 auto;
      width: 100%;
      border-collapse: collapse;
      /* box-shadow: 0 4px 8px
      rgba(0, 0, 0, 0.2); */
    }

    /* Header styles */
    .email-header {
      background-color: rgb(233, 233, 233);
      text-align: center;
      padding: 8px;
    }

    .email-header p {
      font-size: 24px;
      font-weight: 600;
    }

    .email-header h1 {
      color: #ffffff;
      font-size: 24px;
      margin: 0;
    }

    /* Content styles */
    .email-content {
      width: 100%;
      color: black;
      font-size: 16px;
      line-height: 1.6;
    }

    .email-content h2 {
      margin: 0 0 15px;
      font-size: 13px;
      color: black;
      font-weight: 300;
    }

    .responsive-img {
      width: 100%;
      height: auto;
    }

    .email-content a {
      color: #f76301;
      text-decoration: none;
    }

    /* Footer
      styles */
    .email-footer {
      /* background-color: #f1f1f1; */
      background-color: transparent;
      text-align: center;
      padding: 10px;
      font-size: 12px;
      color: rgb(108, 108, 108);
    }

    .email-footer a {
      color: #f76301;
      text-decoration: none;
    }

    .email-content .main {
      color: #f76301;
    }
  </style>
</head>

<body class='body'>
  <div class='wrapper'>
    <table class='container'>
      <tr>
        <td class='email-content'>
          <img src='https://res.cloudinary.com/dyklkieao/image/upload/v1734874100/ubi/mutiple_ast89z.png' alt='img'
            class='responsive-img' />
          <br />
          <br />
          <h2>Dear {{firstName}},</h2>
          <p class='main'>
            <!-- You have logged in successfully to UBI on -->
            <strong>Two-Factor Authentication</strong>
          </p>

          <p>
            Complete your login by verifiying your identitiy, for your secure
            we require you to verify idenitity. Use one One-Time Password
            (OTP) below to complete your login:
          </p>

          <div class='email-header'>
            <p>{{otpCode}}</p>
          </div>
          <p>
            Please, if you did not initiate this action, contact our customer
            support at
            <a href='mailto:Support@ubi.com'>Support@ubi.com</a>
            or call
            <strong>8134146906</strong>
            as your account might have been compromised.
          </p>
          <p>Kind Regards,<br />UBI Team</p>
        </td>
      </tr>

      <!-- Footer Section -->
      <tr>
        <td class='email-footer'>
          If you experience any problems, kindly contact us at
          <a href='mailto:Support@ubi.com'>Support@ubi.com</a>
          or send us a WhatsApp message at
          <strong>+234 813 414 6906</strong>.
        </td>
      </tr>
    </table>
  </div>
</body>

</html>