<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Welcome to UBI</title>
    <style>
      /* .body { background-color: black; padding: 10px; } */
      /* General body
      styles */
      .body {
        margin: 0;
        padding: 10px;
        font-family: Arial, sans-serif;
        background-color: white;
        color: #2b2b2b;
      }

      /* Wrapper to
      center content */
      .wrapper {
        background-color: white;
        padding: 15px;
      }

      /*
      Email container */
      .container {
        background-color: transparent;
        margin: 0 auto;
        width: 100%;
        max-width: 600px;
        border-collapse: collapse;
        /*
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
      }

      /* Header styles */
      .email-header {
        background-color: #046307;
        text-align: center;
        padding: 8px;
      }

      .email-header p {
        font-size: 24px;
        font-weight: 600;
        color: #ffffff;
      }

      .email-header h1 {
        color: #ffffff;
        font-size: 24px;
        margin: 0;
      }

      /*
      Content styles */
      .email-content {
        padding: 20px;
        color: #2b2b2b;
        font-size: 16px;
        line-height: 1.6;
      }

      .email-content h2 {
        margin: 0 0 15px;
        font-size: 13px;
        color: #2b2b2b;
        font-weight: 300;
      }

      .responsive-img {
        width: 100%;
        height: auto;
      }

      .email-content a {
        color: #0022c9;
        text-decoration: none;
      }

      /* Footer styles */
      .email-footer {
        /* background-color: #f1f1f1; */
        background-color: transparent;
        text-align: center;
        padding: 10px;
        font-size: 12px;
        color: #2b2b2b;
      }

      .email-footer a {
        color: #0022c9;
        text-decoration: none;
      }
    </style>
  </head>

  <body class='body'>
    <div class='-wrapper"'>
      <table class='container'>
        <!-- Content Section -->
        <tr>
          <td class='email-content'>
            <img
              src='https://res.cloudinary.com/dyklkieao/image/upload/v1734873455/ubi/welcome_pntnjl.png'
              alt='img'
              class='responsive-img'
            />
            <br />
            <br />
            <h2>Dear {{firstName}},</h2>
            <p>

              <strong>Welcome to UBI 🎉</strong>
              <br />
              Your account has been successfully created, and you’re now part of
              the UBI community. We're excited to have you onboard! With UBI,
              you can manage your transactions, pay bills, and transfer money
              quickly and securely. Start exploring all the features we offer!
            </p>

            <p>
              Here’s how to get started:
              <ul>
                <li><strong>Set up your profile:</strong>
                  Personalize your account with your details.</li>
                <li><strong>Add funds:</strong>
                  Deposit money to your account to begin using our services.</li>
                <li><strong>Explore services:</strong>
                  Check out the wide range of services, from payments to
                  transfers.</li>
              </ul>
            </p>

            <p>
              If you need help at any point, our support team is always here for
              you. Reach out at
              <a href='mailto:Support@ubi.com'>Support@ubi.com</a>
              or call
              <strong>8134146906</strong>
              as your account might have been compromised.
            </p>
            <p>Kind Regards,<br />UBI Team</p>
          </td>
        </tr>

        <!-- Footer Section -->
        <tr>
          <td class='email-footer'>
            If you experience any problems, kindly contact us at
            <a href='mailto:Support@ubi.com'>Support@ubi.com</a>
            or send us a WhatsApp message at
            <strong>+234 813 414 6906</strong>.
          </td>
        </tr>
      </table>
    </div>
  </body>

</html>